extends ../layout/common
block content
    .row.justify-content-center.mt-3
        .col-md-6
            .card
                header.card-header
                    a.float-right.btn.btn-outline-primary.mt-1(href='/login') Sign in
                    h4.card-title.mt-2 Sign up
                article.card-body
                    form(action='/signup',method='POST')
                        .form-group
                            label Full name
                            input.form-control(type='text', placeholder='',name='fullName', value= values ? values.username: '')

                        // form-group end.//
                        .form-group
                            label Email address
                            input.form-control(type='email', placeholder='',name='email', value= values ? values.email : '')
                            small.form-text.text-muted We&apos;ll never share your email with anyone else.
                        // form-group end.//
                        .form-group
                            label Create password
                            input.form-control(type='password',name='password', value= values ? values.password: '')
                        // form-group end.//
                        button.btn.btn-primary.btn-block  Sign up
                // card-body end .//
                .border-top.card-body.text-center
                    | Have an account?
                    span &nbsp;
                    a(href='/login') Sign in
            // card.//
        // col.//
    // row.//
