extends ./layout/common

block content
    .row.mt-5
        img(src='/images/tp23.jpg',width=360)
        .col
            h1(style={'font-size': '65px'}) Welcome to QTinder, have a happy experience!
            .row.ml-1
                a.btn.btn-primary(href="/login") Sign In
                a.ml-1.btn.btn-primary(href="/signup") Sign Up
